body {
    font-family: sans-serif;
    background-color: grey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    max-width: 799px;
    margin: 0 auto;
    color: black;
    font-family: blackadder ITC;
    padding-top: 61px;
    padding-left: 21px;
    padding-right: 21px;
}